
<teaser
  image-position="left"
  teaser-url="http://www.google.de"
  font-size="extra-large">
  <headline>Der Wolf</headline>
  <bodytext>Das Lamm</bodytext>
</teaser>
<teaser>
  <headline>Zwei flinke Boxer jagen</headline>
  <bodytext>Uschis Mops Sylt</bodytext>
</teaser>
<teaser
  image-position="left"
  teaser-url="http://www.google.de"
  font-size="extra-large">
  <headline>So haben Sie Hagenbecks Tierpark noch nie gesehen</headline>
  <bodytext>Abendblatt-Fotograf Thorsten Ahlf zeigt Tiere in ungewöhnlichen Posen und die Grünanlage aus einer völlig neuen Perspektive.</bodytext>
</teaser>

<carousel
	columns="3">

</carousel>
